body {
    
height: 100%;
width: 100%;
background-size: 100%;
background-color: antiquewhite;
align-content: center;

}

.bla {
    height: 100%;
    width: 100%;
    background-color: aqua;
    align-content: center;
    
}